/* style.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #71a4df;
}

.svg-flex {
  animation: flex-animation 2s infinite ease-in-out;
}

@keyframes flex-animation {
  0% {
      transform: scale(1);
  }
  25% {
      transform: scale(1.1) rotate(-3deg);
  }
  50% {
      transform: scale(1.2) rotate(3deg);
  }
  75% {
      transform: scale(1.1) rotate(-3deg);
  }
  100% {
      transform: scale(1);
  }
}
